table.cciaa_topic_view {
	border: 0;
	width: 97%;
}
table.cciaa_topic_view td {
	border-bottom: 1px dashed #999;
	padding: 0.8em 0.5em;
}

table.cciaa_topic_view .tImage {
	border:0;
	margin:0;
	padding:0;
}
