table.cciaa_topic_view {
	border: 1px solid #999;
	width: 97%;
	border-collapse: collapse;
}
table.cciaa_topic_view td {
	border: 1px solid #999;
	border-collapse: collapse;
}

table.cciaa_topic_view .tileImage {
	border:0;
	margin:0;
	padding:0;
}
