/*
 * Stili per la cartella della modulistica 
 */

table.modulistica-listing {
	width: 97%;
}

#content .modulistica-listing a[href^="http:"] {
	background-image: none;
	padding: 0px;
}

table.modulistica-listing,
table.modulistica-listing td {
	border-color: #999;
}
